<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ahmed1111-001-site1.ftempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://ahmed1111-001-site1.ftempurl.com:8172/MsDeploy.axd?site=ahmed1111-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>ahmed1111-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\ahmed1111-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContextConnect" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL7001.site4now.net;Initial Catalog=DB_A3AC1B_Emergencydatabase;User ID=DB_A3AC1B_Emergencydatabase_admin;Password=admin1234" Name="Data Source=SQL7001.site4now.net;Initial Catalog=DB_A3AC1B_Emergencydatabase;User Id=DB_A3AC1B_Emergencydatabase_admin;Password=admin1234;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EmergAPI.Models._dbContext, EmergAPI" MigrationConfiguration="EmergAPI.Migrations.Configuration, EmergAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ContextConnect-Web.config Connection String">
      <ParameterValue>Data Source=SQL7001.site4now.net;Initial Catalog=DB_A3AC1B_Emergencydatabase;User Id=DB_A3AC1B_Emergencydatabase_admin;Password=admin1234;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>